<div id="main">

    
    <div>
        <button class="btn btn-primary" type="button" id="start_scrape">Click To Scrape The Articles</button>
    </div>
    <div class="row" id="results">
        <div class="span9">
            <div class="bot2 clearfix">
                <h3 id="searchTitle">
                    {{!-- --}}
                </h3>
                <div id="cards_holder"></div>
            </div>
        </div>
    </div>

</div>
